*{
    padding: 0;
    margin: 0;    
}
.main{
    background-color: var(--dark-blue);
    color: white;
    height: 11vh;
    width: 100%;
    display: grid;
    grid-template-columns:repeat(2,15vw)
}