
<div class="header" *ngIf="!src.authorized">
    <img src="assets/images/logo.png" alt="Логотип">
    <h1>Зона авторизаци</h1>
</div>
<div class="header" *ngIf="src.authorized">
    <img src="assets/images/logo.png" alt="Логотип">
    <!-- <p v-on:click="to_users()">Сотрудники</p>
    <p v-on:click="to_activites()">Активы</p>
    <div></div>
    <p>{{user}}</p>
    <p v-on:click="exit()">Выйти</p> -->
    <p (click)="to_users()">Сотрудники</p>
    <p (click)="to_activites()">Активы</p>
    <div></div>
    <p>{{user}}</p>
    <p (click)="exit()">Выйти</p>
</div>